apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: app-dashboard-operator
  namespace: app-dashboard-operator
spec:
  channel: alpha
  installPlanApproval: Automatic
  name: app-dashboard-operator
  source: app-dashboard-operator-catalog
  sourceNamespace: app-dashboard-operator
